@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;500&display=swap');

/* GLOBAL */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family:  'Poppins', sans-serif;
} 

body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-color: rgb(247, 238, 230);
}

/* HEADER - MOBILE */
header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

header h1 {   
    font-size: 8.7vw;
    margin: 1rem 0 0;
    width: 100%;
}

/* NAVIAGTION BAR - MOBILE */
nav {
    display: flex;
    justify-content: space-between;
    font-size: 5.7vw;
    font-weight: 300;
    width: 90.259%;
    margin: 0 1rem 2rem 1rem;
}

nav a {
    text-decoration: none;
    justify-content: space-between;
    color: #7490B3;  
}

a {
    text-decoration: none;
    color: #000000;
}

/* MAIN INFORMATION - MOBILE */
main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.home-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
}

.hero-image {
    border-radius: 50%;
    height: 50vw;
    width: 50vw;
}

.main-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 50%;
    width: 100%;
    color: #7490B3;
}

.main-info h2 {
    text-align: center;
    font-size: 14vw;
    margin: 0 0 -1.5rem 0;
    width: 100%;
}

.main-info h3 {
    text-align: center;
    font-size: 10vw;
    width: 100%;
}

.main-info p {
    width: 100%;
    text-align: center;
    font-size: 5.5vw;
    color: #000000;
    font-weight: 300;
    margin-top: -1.5vw 0 1.5rem;
}


/* FOOTER - MOBILE */
.social-footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 4vw;
    text-align: center;
    font-weight: 300;
    width: 100%;
 }

 /* SOCIAL LINKS - MOBILE */
.social-links {
    display: flex;
    justify-content: space-between; 
    align-items: center; 
    width: 85%;
    margin: 0.5rem 0;
}

.social-links a{
    display: flex;
    justify-content: center;
    width: 20vw;
}

.social-links img {
    width: 60%;
}

#phone-number {
    margin-bottom: 2rem;
}

 /* COPYRIGHT  */
 footer {
    font-size: 1rem;
    text-align: center;
    margin-bottom: 1rem;
    margin-top: auto;
    font-weight: 300;
 }

/* TABLET VIEW */
@media screen and (min-width: 700px) and (max-width: 1200px) {
   
    /* HEADER - TABLET */
    nav {
        width: 91%;
        font-size: 2rem;
        padding: 0 0.5rem;
        font-weight: 300;
    }

    /* MAIN INFORMATION - TABLET */
    main {
        display: flex;
        width: 100%;
        padding: 0 2rem;
        margin: 3rem 0 0 0;
    }

    .home-info {
        display: flex;
        flex-direction: row-reverse;
        width: 95%;
    }

    .hero-image {
        width: 100%;
        height: auto;
        flex: 1;
        margin: 0 0 0 4rem;
    }

    .main-info {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        width: 100%;
        flex: 2;
    }

    .main-info h2 {
        width: 100%;
        text-align: left;  
        font-size: 8vw;
        margin: -1rem 0 0 0;
        transform: translateX(-5px);
    }

    .main-info h3 {
        width: 100%;
        text-align: left;
        font-size: 5.7vw;
        margin: -1.5rem 0 0 0;
    }

    .main-info p {
        text-align: left;
        font-size: 3.25vw;
        transform: translateX(-2px);
        margin: -0.7rem 0 0;
    }

    /* FOOTER - TABLET */
    .social-footer {
        display: flex;
        flex-direction: column;
        font-size: 2.3vw;
        text-align: center;
        font-weight: 300;
     }
     
    /* SOCIAL LINKS - TABLET */
    .social-links {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        margin: 3.5vw 0 2vw;
    }
    
    .social-links a{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 8%;
        margin: 0;
    }

    .social-links img {
        width: 70%;
    }

    #phone-number {
        margin-bottom: 2rem;
    }

    /* COPYRIGHT */
    footer {
        font-size: 0.8rem;
        text-align: center;
        margin-bottom: 1rem;
        margin-top: auto;
     }
}

/* DESKTOP VIEW */
@media screen and (min-width: 1200px) and (max-width: 1900px) {

    /* HEADER - DESKTOP */
    header {
        display: flex;
        flex-direction: row;
        padding: 1rem 2.5rem; 
        justify-items: flex-end;
    }
    
    #h1-a {
        display: flex;
        flex: 2;
        margin: 0 3rem 0 0;
    }

    header h1 {
        display:flex;
        font-size: 4vw;
        text-align: left;
        width: 100%;
        margin: 0 3rem 0 0;
    }
   
    nav {
        display: flex;
        flex: 1;
        font-size: 1.5vw;
        font-weight: 300;
        margin: 0;
        transform: translateY(-10px);
    }

    /* MAIN INFORMATION - DESKTOP */
    /* SHOW BACKGROUND IMAGE */
    main {
        display: flex;
        width: 100%;
        height: 50vw;
        padding: 0 2.5rem;
        background: url(images/hero-malik-skydsgaard-unsplash\ -wide.jpg) no-repeat center;
    }

    .home-info {
        display: flex;
        justify-content: flex-start;
        width: 100%;
        margin: 15vw 0 0 0;
    }

    /* HIDE HERO IMAGE */
    .hero-image {
        visibility: hidden;
        width: 0%;
        height: 0%;
    }

    .main-info {
        display: flex;
        flex-direction: column;
        width: 100%;
        align-items: flex-start;
    }

    .main-info h2 {
        width: 100%;
        font-size: 6.1vw;
        margin: -1rem 0 0 0;
        text-align: left;
        transform: translateX(-4.5px);
    }

    .main-info h3 {
        width: 100%;
        font-size: 4.4vw;
        margin: -2rem 0 0 0;
        text-align: left;
    }

    .main-info p {
        color: #445161;
        font-size: 2.5vw;
        text-align: left;
        margin: -0.8rem 0 0 0;
    }


    /* FOOTER - DESKTOP */
    .social-footer {
        display: flex;
        flex-direction: column;
        font-size: 1.5vw;
        font-weight: 300;
        margin-top: 50px;
     }

    /* SOCIAL LINKS - DESKTOP */
    .social-links {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        margin-bottom: 1.5vw;
    }
    
    .social-links a {
        display: flex;
        justify-content: center;
        width: 8vw;
    }

    .social-links img {
        width: 60%;
    }

    #phone-number {
        margin-bottom: 2rem;
    }
    
    /* COPYRIGHT */
    footer {
        font-size: 1rem;
        text-align: center;
        margin-bottom: 1rem;
        margin-top: auto;
     } 
}    

/* LARGE FIXED VIEW */
@media screen and (min-width: 1900px) {
     
    /* BODY - LARGE FIXED */
    body {
        max-width: 1900px;
  
        margin: 0 auto;
    }

    /* HEADER - LARGE FIXED */
     header {
        flex-direction: row;
        padding: 1rem 0;
    }

    #h1-a {
        display: flex;
        flex: 2;
        margin: 0 3rem 0 0;
    }

    header h1 {
        font-size: max(80px);
        flex: 2;
        text-align: left;
        width: 100%;
        margin: 0 3rem 0 0;
    }

    nav {
        display: flex;
        flex: 1;
        font-size: 30px;
        font-weight: 300;
        margin: 0;
        transform: translateY(-15px);
    }

    /* MAIN INFORMATION - LARGE FIXED */
    /* SHOW BACKGROUND IMAGE */
    main {
        display: flex;
        width: 100%;
        height: 900px;
        padding: 0 50px;
        background: url(images/hero-malik-skydsgaard-unsplash\ -wide.jpg) no-repeat center;
    }

    .home-info {
        display: flex;
        justify-content: flex-start;
        width: 100%;
        margin: 160px 0 0 0;
    }

    /* HIDE HERO IMAGE */
    .hero-image {
        visibility: hidden;
        width: 0%;
        height: 0%;
    }

    .main-info {
        display: flex;
        flex-direction: column;
        font-family: 'Poppins', sans-serif;
        width: 100%;
        align-items: flex-start;
    }

    .main-info h2 {
        width: 100%;
        font-size: 121px;
        margin: 70px 0 0 0;
        text-align: left;
        transform: translateX(-7px);
    }

    .main-info h3 {
        width: 100%;
        font-size: 87px;
        margin: -50px 0 0 0;
        text-align: left;
    }

    .main-info p {
        color: #445161;
        font-size: 49px;
        text-align: left;
        margin: -30px 0 0 0;
    }

    /* FOOTER - LARGE FIXED */
    .social-footer {
        display: flex;
        flex-direction: column;
        font-size: 30px;
        font-weight: 300;
        margin-top: 50px;
     }

    /* SOCIAL LINKS - LARGE FIXED */
    .social-links {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        margin-bottom: 30px;
    }
    
    .social-links a {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 140px;
    }

    .social-links img {
        width: 60%;
    }

    #phone-number {
        margin-bottom: 2rem;
    }

    /* COPYRIGHT */
    footer {
        font-size: 1rem;
        text-align: center;
        margin-bottom: 1rem;
        margin-top: auto;
     }
}

