@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;500&display=swap');

/* GLOBAL */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    background-color: rgb(247, 238, 230);
}

/* HEADER - MOBILE */

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-family:  'Poppins', sans-serif;
}

header h1 {   
    font-size: 8.7vw;
    margin: 1rem 0 0;
    width: 90.5%;
}

#h1-link:visited {
    text-decoration: none;
    color: #000000;
}

#h1-link:active {
    text-decoration: none;
    color: #000000;
} 

nav {
    display: flex;
    justify-content: space-between;
    font-size: 5.7vw;
    font-weight: 300;
    width: 90%;
    margin: 0 1rem 2rem 1rem;
}

nav a {
    text-decoration: none;
    justify-content: space-between;
    color: #7490B3;  
}

/* MAIN INFORMATION - MOBILE */

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#home-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
}

#hero-image {
    border-radius: 50%;
    width: 90vw;
    height: 90vw;
    /* border: 4px solid #7490B3; */
}

#main-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 50%;
    font-family: 'Poppins', sans-serif;
    width: 100%;
}

#main-info h2 {
    width: 100%;
    text-align: center;
    font-size: 15vw;
    color: #7490B3;
    margin: 0 0 -1.5rem 0;
}

#main-info h3 {
    width: 100%;
    text-align: center;
    font-size: 10.5vw;
    color: #7490B3;
}

main p {
    font-size: 5vw;
    text-align: center;
    font-weight: 300;
}

/* SOCIAL LINKS - MOBILE */

#social-links {
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin: 2rem;
}
 #social-links img {
    width: 13%;
    margin: 1rem;
    border-radius: 50%;
 }

/* FOOTER - MOBILE */

 footer {
    font-family: 'Poppins', sans-serif;
    font-size: 3.5vw;
    text-align: center;
    margin: auto 0 0;
    font-weight: 300;
 }

/* TABLET VIEW */

 @media screen and (min-width: 700px) and (max-width: 1200px) {
   
   /* HEADER - TABLET */

    nav {
        width: 91%;
        font-size: 2rem;
        padding: 0 0.5rem;
        font-weight: 300;
    }

    /* MAIN INFORMATION - TABLET */

    main {
        display: flex;
        width: 100%;
        padding: 0 2rem;
        margin: 3rem 0 0 0;
    }

    #home-info {
        display: flex;
        flex-direction: row-reverse;
        width: 95%;
    }

    #hero-image {
        width: 100%;
        height: auto;
        flex: 1;
        margin: 0 0 0 4rem;
    }

    #main-info {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        font-family: 'Poppins', sans-serif;
        width: 100%;
        flex: 2;
    }

    #main-info h2 {
        width: 100%;
        text-align: left;  
        font-size: 8vw;
        margin: -1rem 0 0 0;
        transform: translateX(-5px);
    }

    #main-info h3 {
        width: 100%;
        text-align: left;
        font-size: 5.7vw;
        margin: -2rem 0 0 0;
    }

    #main-info p {
        font-size: 2vw;
    }

    #main-info p:nth-of-type(1) {
        margin: 2rem 0 0;
    }

    /* SOCIAL LINKS - TABLET */

    #social-links {
        display: flex;
        justify-content: center;
        width: 90%;
        margin: 5rem 0 0 0;
    }
    #social-links img {
        width: 5%;
        margin: 2rem 1rem 0;
    }

    /* FOOTER - TABLET */

    footer {
        font-size: 1.5vw;
        margin: 10vw 0 0 0;
    }
}

/* DESKTOP VIEW */

@media screen and (min-width: 1200px) and (max-width: 1800px) {

    /* HEADER - DESKTOP */

    header {
        display: flex;
        flex-direction: row;
        padding: 1rem 2.5rem;
    }

    header h1 {
        font-size: 4vw;
        flex: 2;
        text-align: left;
        width: 100%;
        margin: 0 3rem 0 0;
    }

    nav {
        display: flex;
        flex: 1;
        font-size: 1.5vw;
        font-weight: 300;
        margin: 0;
        transform: translateY(-15px);
    }

    /* MAIN INFORMATION - DESKTOP */

    main {
        display: flex;
        width: 100%;
        height: 50vw;
        padding: 0 2.5rem;
        background: url(images/hero-malik-skydsgaard-unsplash\ -wide.jpg) no-repeat center;
    }

    #home-info {
        display: flex;
        justify-content: flex-start;
        width: 100%;
        margin: 10% 0 0 0;
    }

    #hero-image {
        visibility: hidden;
        width: 0%;
        height: 0%;
    }

    #main-info {
        display: flex;
        flex-direction: column;
        font-family: 'Poppins', sans-serif;
        width: 100%;
        align-items: flex-start;
    }

    #main-info h2 {
        width: 100%;
        font-size: 6.1vw;
        margin: -1rem 0 0 0;
        text-align: left;
        transform: translateX(-4.5px);
    }

    #main-info h3 {
        width: 100%;
        font-size: 4.4vw;
        margin: -2rem 0 0 0;
        text-align: left;
    }

    #main-info p {
        color: #5e748f;
        font-size: 2vw;
    }

    #main-info p:nth-of-type(1) {
        margin: 2rem 0 0;
    }

    /* SOCIAL LINKS - DESKTOP */

    #social-links {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 90%;
        margin: 21vw 0 0 0;
    }
    #social-links img {
        width: 4%;
    }

    /* FOOTER - DESKTOP */

    footer {
        font-size: 15px;
        margin-bottom: 0;
        margin-top: 7.5vw;
    }
}    

/* LARGE FIXED VIEW */

@media screen and (min-width: 1800px) {
     
    /* BODY - LARGE FIXED */

    body {
        max-width: 1900px;
        margin: 0 auto;
    }

    /* HEADER - LARGE FIXED */

     header {
        flex-direction: row;
        padding: 1rem 0;
    }

    header h1 {
        font-size: max(80px);
        flex: 2;
        text-align: left;
        width: 100%;
        margin: 0 3rem 0 0;
    }

    nav {
        display: flex;
        flex: 1;
        font-size: 30px;
        font-weight: 300;
        margin: 0;
        transform: translateY(-15px);
    }

    /* MAIN INFORMATION - LARGE FIXED */

    main {
        display: flex;
        width: 100%;
        height: 900px;
        padding: 0 50px;
        background: url(images/hero-malik-skydsgaard-unsplash\ -wide.jpg) no-repeat center;
    }

    #home-info {
        display: flex;
        justify-content: flex-start;
        width: 100%;
        margin: 160px 0 0 0;
    }

    #hero-image {
        visibility: hidden;
        width: 0%;
        height: 0%;
    }

    #main-info {
        display: flex;
        flex-direction: column;
        font-family: 'Poppins', sans-serif;
        width: 100%;
        align-items: flex-start;
    }

    #main-info h2 {
        width: 100%;
        font-size: 121px;
        margin: 70px 0 0 0;
        text-align: left;
        transform: translateX(-7px);
    }

    #main-info h3 {
        width: 100%;
        font-size: 87px;
        margin: -50px 0 0 0;
        text-align: left;

    }

    #main-info p {
        color: #5e748f;
        font-size: 35px;  
    }

    #main-info p:nth-of-type(1) {
        margin: 2rem 0 0;
    }

    /* SOCIAL LINKS - LARGE FIXED */

    #social-links {
        display: flex;
        justify-content: center;
        width: 90%;
        margin: 290px 0 100px 0;

    }
    #social-links img {
        width: 3%;
    }

    /* FOOTER - LARGE FIXED */

    footer {
        font-size: 15px;
        margin-bottom: 0;
        margin-top: 100px;
    }
}

