@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;500&display=swap');

/* GLOBAL */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column; 
}

/* HEADER */

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 0.5rem;
    font-size: 4.1vw;
    font-family:  'Poppins', sans-serif;
}

header h1 {
    margin: 0.5rem;
    width: 90%;
}

nav {
    display: flex;
    justify-content: space-between;
    width: 88%;
    margin: 0 1rem 1rem 1rem;
}

nav a {
    text-decoration: none;
    justify-content: space-between;
    color: #7490B3;
    
}

/* MAIN INFORMATION */

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#home-info {
    display: flex;
    flex-direction: column;
    align-items: center;
}

main p {
    font-size: 6.7vw;
    text-align: center;
}

#hero-image {
    border-radius: 50%;
    width: 100%;
    height: 85vw;
    border: 4px solid #7490B3;
}

#main-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 50%;
    font-family: 'Poppins', sans-serif;
    width: 100%;
}

#main-info h2 {
    width: 100%;
    text-align: center;
    font-size: 15vw;
    color: #7490B3;
    margin: 0 0 -1.5rem 0;
}

#main-info h3 {
    width: 100%;
    text-align: center;
    font-size: 10.5vw;
    color: #7490B3;
}

/* SOCIAL LINKS */

#social-links {
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin: 2rem;
}
 #social-links img {
    width: 20%;
    margin: 1rem;
    border-radius: 50%;
 }

/* FOOTER */

 footer {
    font-family: 'Poppins', sans-serif;
    font-size: 3.5vw;
    text-align: center;
    margin: 6rem 0;
 }

 @media screen and (min-width: 650px) and (max-width: 1000px) {
    /* MAIN INFORMATION */

    main {
        display: flex;
    }



    #home-info {
        display: flex;
        flex-direction: row-reverse;
        width: 100%;
    }

    #hero-image {
        border-radius: 50%;
        width: 30%;
        height: 40vw;
        border: 4px solid #7490B3;
        flex: 1;
        margin:2.5rem;
    }

    #main-info {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        font-family: 'Poppins', sans-serif;
        width: 100%;
        flex: 1.5;
    }

    #main-info h2 {
        width: 100%;
        text-align: center;
        font-size: 5vw;
        color: #7490B3;
        margin: 0 0 -1.5rem 0;
    }

    #main-info h3 {
        width: 100%;
        text-align: center;
        font-size: 5vw;
        color: #7490B3;
    }

    #main-info p {
        font-size: 2vw;
    }

    /* SOCIAL LINKS */

    #social-links {
        display: flex;
        justify-content: space-between;
        width: 90%;
        margin: 2rem;
    }
    #social-links img {
        width: 20%;
        margin: 1rem;
        border-radius: 50%;
    }
 }